<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>

<% include ../partials/header %>


<!-- Admin view-->
<div class="row" style="padding-top: 100px"></div>
<div class="container-fluid">

    <div class="row">
        <h1>Proyecto Maquinas</h1>
    </div>

    <p>...</p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">Maquinaria</a></li>
        <li><a data-toggle="tab" href="#menu2">Maquinaria</a></li>
    </ul>

    <div class="tab-content">

        <div id="menu1"class="tab-pane fade in active">
            <h3>Maquinaria</h3>
            <form class="form-group" method="post" action="/machinery/new-machine">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Peso</th>
                    <th>Capacidad</th>
                    <th>Modelo Motor</th>
                    <th>Enfriado Agua</th>
                    <th>Velocidad de Ruta</th>
                    <th>Velocidad de Rotacion</th>
                    <th>Capacidad Tanque</th>
                    <th>Longitud</th>
                    <th>Ancho</th>
                    <th>Alto</th>
                    <th>Long Brazos</th>
                    <th>Horas trabajo</th>
                </tr>
                </thead>

                <tbody>
                <% machines.forEach(function(machine) { %>
                <tr>
                        <td><%= machine.type %></td>
                        <td><%= machine.weight %></td>
                        <td><%= machine.capacity %></td>
                        <td><%= machine.engineModel %></td>
                        <td><%= machine.waterCooling %></td>
                        <td><%= machine.routeSpeed %></td>
                        <td><%= machine.turningSpeed %></td>
                        <td><%= machine.fuelCapacity %></td>
                        <td><%= machine.length %></td>
                        <td><%= machine.width %></td>
                        <td><%= machine.height %></td>
                        <td><%= machine.armLength %></td>
                        <td><%= machine.workHours %></td>
                        <td><a  class="btn btn-info" href="/machinery/edit-machinery/<%= machine.id%>">Editar</a></td>
                        <td><a class="btn btn-danger" href="/machinery/delete/<%= machine.id%>">Borrar</a></td>
                </tr>
                <% }); %>
                <tr>

                    <td><input name="type" class="form-control" type="text" required></td>
                    <td><input name="weight" class="form-control" type="text" required></td>
                    <td><input name="capacity" class="form-control" type="text" required></td>
                    <td><input name="engineModel" class="form-control" type="number" step="0.01" required></td>
                    <td><select name="waterCooling" class="form-control" step="0.01"required>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </td>

                    <td><input name="routeSpeed" class="form-control" type="number" step="0.01" required></td>
                    <td><input name="turningSpeed" class="form-control"> </input> </td>
                    <td><input name="fuelCapacity" class="form-control"> </input> </td>
                    <td><input name="length" class="form-control"> </input> </td>
                    <td><input name="width" class="form-control"> </input> </td>
                    <td><input name="height" class="form-control"> </input> </td>
                    <td><input name="armLength" class="form-control"> </input> </td>
                    <td><input name="workHours" class="form-control"> </input> </td>

                    <datalist id="water">
                      <option value="Si">
                      <option value="No">
                  </datalist>
                </tr>
                </tbody>
            </table>
            <input class="form-control btn btn-success" type="submit">
            </form>
        </div>

        <div  id="menu2"class="tab-pane fade">
            <h3>Categorias</h3>
        </div>
    </div>
</div>

<!-- end Admin view-->
<% include ../partials/footer %>

</body>

</html>
