<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>

</head>

<body>

<% include ../partials/header %>


<!-- Admin view-->
<div class="row" style="padding-top: 100px"></div>
<div class="container-fluid">

    <div class="row">
        <h1>Proyecto Maquinas</h1>
    </div>

    <p>...</p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">Maquinaria</a></li>
        <li><a data-toggle="tab" href="#menu2">Categorias</a></li>
        <li><a data-toggle="tab" href="#menu3">Proveedores</a></li>
        <li><a data-toggle="tab" href="#menu4">Componentes</a></li>
    </ul>

    <div class="tab-content">

        <div id="menu1"class="tab-pane fade in active">
            <h3>Maquinaria</h3>
            <form class="form-group" method="post" action="/machinery/new-machine">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Peso</th>
                    <th>Capacidad</th>
                    <th>Modelo Motor</th>
                    <th>Enfriado Agua</th>
                    <th>Velocidad de Ruta</th>
                    <th>Velocidad de Rotacion</th>
                    <th>Capacidad Tanque</th>
                    <th>Longitud</th>
                    <th>Ancho</th>
                    <th>Alto</th>
                    <th>Horas Trabajo</th>
                    <th>Img</th>
                    <th>Sound</th>
                    <th>Plano</th>
                    <th>Catalogo</th>
                    <th>Video</th>
                </tr>
                </thead>

                <tbody>
                <% machines.forEach(function(machine) { %>
                <tr>
                        <td><%= machine.name %></td>
                        <td><%= machine.type %></td>
                        <td><%= machine.weight %></td>
                        <td><%= machine.capacity %></td>
                        <td><%= machine.engineModel %></td>
                        <td><%= machine.waterCooling %></td>
                        <td><%= machine.routeSpeed %></td>
                        <td><%= machine.turningSpeed %></td>
                        <td><%= machine.fuelCapacity %></td>
                        <td><%= machine.length %></td>
                        <td><%= machine.width %></td>
                        <td><%= machine.heighst %></td>
                        <td><%= machine.workHours %></td>
                        <td><%= machine.img %></td>
                        <td><%= machine.sound %></td>
                        <td><%= machine.blueprint %></td>
                        <td><%= machine.catalogue %></td>
                        <td><%= machine.video %></td>
                        <td><a  class="btn btn-info" href="/machinery/edit-machinery/<%= machine.id %>">Editar</a></td>
                    <!--    <form method = 'POST' action = "/machinery/search-machine">
                            <input class="btn btn-info" name = "cont" value = "El mensaje">
                            <input class="btn btn-info" type = "submit" value = "info POST">
                        </form> -->


                        <td><a class="btn btn-danger" href="/machinery/delete/<%= machine.id%>">Borrar</a></td>
                        <td><a class="btn btn-danger" data-toggle = "collapse" data-target="#collapComp" onclick="buscarMaquina('<%= machine.id%>','search-machine','selector');" >Componentes</a></td>
                      <!--  <td><a class="btn btn-warning" href="/machinery/search-machine/<%= machine.id%>">GET</a></td> -->
                </tr>
                <% }); %>
                <tr>
                    <td><input name="name" class="form-control" type="text" required></td>
                    <td><select name="type" class="form-control" step="0.01"required>
                            <% categories.forEach(function(category) { %>
                                <option value="<%=category.name %>"><%=category.name %></option>
                            <% }); %>
                        </select>
                    </td>

                    <td><input name="weight" class="form-control" type="text" required></td>
                    <td><input name="capacity" class="form-control" type="text" required></td>
                    <td><input name="engineModel" class="form-control" type="number" step="0.01" required></td>
                    <td><select name="waterCooling" class="form-control" step="0.01"required>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </td>

                    <td><input name="routeSpeed" class="form-control" type="number" step="0.01" required></td>
                    <td><input name="turningSpeed" class="form-control"> </input> </td>
                    <td><input name="fuelCapacity" class="form-control"> </input> </td>
                    <td><input name="length" class="form-control"> </input> </td>
                    <td><input name="width" class="form-control"> </input> </td>
                    <td><input name="height" class="form-control"> </input> </td>
                    <td><input name="workHours" class="form-control"> </input> </td>
                    <td><input name="img" class="form-control"> </input> </td>
                    <td><input name="sound" class="form-control"> </input> </td>
                    <td><input name="blueprint" class="form-control"> </input> </td>
                    <td><input name="catalogue" class="form-control"> </input> </td>
                    <td><input name="video" class="form-control"> </input> </td>
                </tr>
                </tbody>
            </table>

            <input class="form-control btn btn-success" type="submit">
            </form>
            <!-- Datos para agregar componente -->
            <div id = "collapComp" class = "collapse">
                <table class = "table table-bordered">
                    <thead>
                        <tr>
                          <th> Nombre</th>
                          <th> Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><select id = "selComp" name="waterCooling" class="form-control" step="0.01"required>
                            <% components.forEach(function(component) { %>
                                  <option value="<%=component.id%>"><%=component.name%></option>
                            <% }); %>
                            </select>
                        </td>
                        <td>
                            <button class = "btn btn-sucess" onclick="modiComponente($('#selComp').val(),'add')">Agregar</Button>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>

            <!-- Agregar Imagenes para el carrusel -->
            <div id = "collapImg" class = "collapse">
                <table class = "table table-bordered">
                    <thead>
                        <tr>
                          <th>Link Imagen</th>
                          <th> Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr id = "comp-crea">
                        <td><select id = "selComp" name="waterCooling" class="form-control" step="0.01"required>
                              <% components.forEach(function(component){ %>
                                <option value="<%= component.id %>"><%= component.name %></option>
                              <% }); %>
                            </select>
                        </td>
                        <td>
                            <button class = "btn btn-sucess comp-crea" onclick="modiComponente($('#selComp').val(),'add')">Agregar</Button>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div  id="menu2"class="tab-pane fade">
            <h3>Categorias</h3>
            <form class="form-group" method="post" action="/machinery/new-machineCat">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% categories.forEach(function(category) { %>
                        <tr>
                            <td><%= category.name %></td>
                            <td><a  class="btn btn-info" href="/machinery/edit-machineryCat/<%= category.id%>">Editar</a></td>
                            <td><a class="btn btn-danger" href="/machinery/delete-category/<%= category.id%>">Borrar</a></td>
                        </tr>
                      <% }); %>
                        <tr>
                            <td><input name="name" class="form-control" type="text" required></td>
                        </tr>
                    </tbody>
                </table>
                <input class="form-control btn btn-success" type="submit">
            </form>
        </div>
        <div id="menu3"class="tab-pane fade">
            <h3> Proveedores </h3>
            <form class = "form-group" method="post" action="/machinery/new-provider">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Tiempo Respuesta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% providers.forEach(function(provider) { %>
                        <tr>
                            <td> <%=provider.name %> </td>
                            <td> <%=provider.location %> </td>
                            <td> <%=provider.email %> </td>
                            <td> <%=provider.phone %> </td>
                            <td> <%=provider.resuplyTime %> </td>
                            <td><a class="btn btn-info" href="/machinery/edit-machineryCat/<%= provider.id%>">Editar</a></td>
                            <td><a class="btn btn-danger" href="/machinery/delete-provider/<%= provider.id%>">Borrar</a></td>
                        </tr>
                        <% }); %>
                        <tr>
                            <td><input name="name" class="form-control"> </input> </td>
                            <td><input name="location" class="form-control"> </input> </td>
                            <td><input name="email" class="form-control"> </input> </td>
                            <td><input name="phone" class="form-control"> </input> </td>
                            <td><input name="resuplyTime" class="form-control"> </input> </td>
                        </tr>
                    </tbody>
                </table>
                <input class="form-control btn btn-success" type="submit">
            </form>
        </div>

        <div  id="menu4"class="tab-pane fade">
            <h3>Componentes</h3>
            <form class="form-group" method="post" action="/machinery/new-machineComp">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Referencia</th>
                            <th>Nombre</th>
                            <th>Peso</th>
                            <th>Longitud</th>
                            <th>Ancho</th>
                            <th>Alto</th>
                            <th>Precio</th>
                            <th>Img</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% components.forEach(function(component) { %>
                        <tr>
                            <td><%= component.reference %></td>
                            <td><%= component.name %></td>
                            <td><%= component.weight %></td>
                            <td><%= component.length %></td>
                            <td><%= component.width %></td>
                            <td><%= component.height %></td>
                            <td><%= component.price %></td>
                            <td><%= component.img %></td>
                            <td><a  class="btn btn-info" href="/machinery/edit-machineryComp/<%= component.id%>">Editar</a></td>
                            <td><a class="btn btn-danger" href="/machinery/delete-component/<%= component.id%>">Borrar</a></td>
                        </tr>
                      <% }); %>
                        <tr>
                            <td>
                            <select name="reference" class="form-control" type="text" required>
                                    <% machines.forEach(function(component) { %>
                                    <option value="<%=component.name%>"><%=component.name%></option>
                                    <% }); %>
                            </select></td>

                            <td><input name="name" class="form-control" type="text" required></td>
                            <td><input name="weight" class="form-control" type="number" required></td>
                            <td><input name="length" class="form-control" type="number" required></td>
                            <td><input name="width" class="form-control" type="number" required></td>
                            <td><input name="height" class="form-control" type="number" required></td>
                            <td><input name="price" class="form-control" type="number" required></td>
                            <td><input name="img" class="form-control" type="text" required></td>
                        </tr>
                    </tbody>
                </table>
                <input class="form-control btn btn-success" type="submit">
            </form>
        </div>
    </div>
</div>

<!-- end Admin view-->
<% include ../partials/footer %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="/js/machinery/vista.js" async = 'false'></script>
<script src="/js/machinery/controlador.js"></script>

</body>

</html>
