<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>
    <!-- Custom CSS -->
    <link href="css/machinery/componentsPage.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <% include ../partials/header %>

    <!-- Page Content -->
    <div class="container">

      <div id = "components" class = "container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Componentes
                    <small><%=machine %></small>
                </h1>
            </div>
        </div>

        <form action="/machinery/new-quotation/<%=machine%>" method="post"  class="form-group" >
            <div class="form-group">
                <label for="name">Nombre completo:</label>
                <input type="text" name="clientName" placeholder="Nombre" id="nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="clientEmail" placeholder="Email" id="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="phone">Numero De celular:</label>
                <input type="text" name="clientPhone" placeholder="N°Celular" id="celular" class="form-control" required>
            </div>
            <div class="row">
            <% components.forEach(function(component,i) { %>
          <div class="col-md-6 list-group-item">
            <h3><%=component.name%></h3>
            <div class="col-md-6 ">
            
                <a href="<%=component.img%>">
                    <img class="img-responsive well" style="width: 100%;height: auto;" src="<%=component.img%>" alt="Not Avaliable">
                </a>

            </div>

              <div class="col-md-6">
                      </br>
                      <p><b>Ancho : </b><%=component.width%></p>
                      <p><b>Alto : </b><%=component.height%></p>
                      <p><b>Peso : </b><%=component.width%></p>
                      <p><b>Precio : </b><%=component.price%></p>
                      <div class="checkbox">
                          <label><input type="checkbox" name="i" value="<%=component.name%>">Agregar</label>
                      </div>
              </div>
          </div>
            <% }); %>
            </div>
            <br>
            <input type="submit" value="Validar" class="btn btn-info" style="width:100%;background-color: #DC8B1A">
        </form>
        <!-- /.row -->

      </div>


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <% include ../partials/footer %>

</body>

</html>
