<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>
    <!-- Custom CSS -->
    <link href="css/machinery/componentsPage.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <% include ../partials/header %>

    <!-- Page Content -->
    <div class="container">

      <div id = "components" class = "container-fluid col-md-10">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Componentes
                    <small><%=machine.name %></small>
                </h1>
            </div>
        </div>

        <form action="/machinery/new-quotation" method="post"  class="form-group" >
            <% components.forEach(function(component,i) { %>
          <div class="row list-group-item">
            <div class="col-md-6">
                <a href="<%=component.img%>">
                    <img class="img-responsive" style="width: 200px;height: auto;" src="<%=component.img%>" alt="Not Avaliable">
                </a>

            </div>
              <div class="col-md-6">
                      <p><b>Nombre : </b><%=component.name%></p>
                      <p><b>Ancho : </b><%=component.width%></p>
                      <p><b>Alto : </b><%=component.height%></p>
                      <p><b>Peso : </b><%=component.width%></p>
                      <p><b>Precio : </b><%=component.price%></p>
                      <div class="checkbox">
                          <label><input type="checkbox" name="i" value="<%=component.name%>">Agregar</label>
                      </div>
              </div>
          </div>
            <% }); %>
        </form>
        <!-- /.row -->

      </div>

      <div id = "listMenu"class = "container-fluid col-md-2">
        <!-- <div class="row">-->
              <div class = "row">
                  <div class = "container-fluid">
                    <div class = "panel panel-default text-center">
                      <div class = "panel-body">Cotizacion</div>
                    </div>
                  </div>
              </div>
              <div class = "row" style="background-color:black">

              </div>

        <!--</div>-->
      </div>

        <!-- /.row -->
        <hr>
        <!-- Pagination -->

        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>

            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <% include ../partials/footer %>

</body>

</html>
