<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>

<% include ../partials/header %>


<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer" style="background-image: url('/img/portfolio/machinery/aplanadora.jpg');">
        <h1 style="color: white">Maquinaria Pesada</h1>
    </header>
    <h1>Descripcion del producto</h1>
    <p>Maquinaria pesada a la medida de sus necesidades.</p>
    <p>El usuario podra seleccionar la maquinaria que desea cotizar, recibira el precio medio y el tiempo necesario para la entrega de la misma.</p>

    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myQuote">Cotizar ahora!</a>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Catalogo</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row">
        <% machines.forEach(function(product) { %>
        <div class="col-sm-3  col-md-4 col-lg-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4><a href="" data-toggle="modal" data-target="#myQuote">Maquinaria de tipo <%= product.type %></a>
                    </h4>
                    <div class = "media">
                        <audio controls>
                            <!-- <source src="horse.ogg" type="audio/ogg"> -->
                        </audio>
                    </div>
                </div>
            </div>


            <div id="myQuote" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nueva Cotizacion</h4>
                  </div>
                  <div class="modal-body">
                    <p>Some text in the modal.</p>
                    <h5>Tipo:<p><%= product.type%></p></h5>
                    <h5>Peso:<p><%= product.weight%></p></h5>
                    <h5>Capacidad:<p><%= product.capacity%></p></h5>
                    <h5>Modelo Motor:<p><%= product.engineModel%></p></h5>
                    <h5>Enfriado por Agua:<p><%= product.waterCooling%></p></h5>
                    <h5>Velocidad de Ruta:<p><%= product.routeSpeed%></p></h5>
                    <h5>Velocidad de Rotacion:<p><%= product.turningSpeed%></p></h5>
                    <h5>Capacidad del Tanque:<p><%= product.fuelCapacity%></p></h5>
                    <h5>Longitud:<p><%= product.length%></p></h5>
                    <h5>Ancho:<p><%= product.width%></p></h5>
                    <h5>Alto :<p><%= product.height%></p></h5>
                    <h5>Longitud Brazo:<p><%= product.armLength%></p></h5>
                    <h5>Horas Trabajo:<p><%= product.workHours%></p></h5>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal" href = "/machinery/components">Mostrar Partes</button> -->

                    <form action="/machinery/components/<%= product.id%>">
                        <input type="submit" class="btn btn-default" value = "Mostrar Partes"/>
                    </form>

                  </div>
                </div>
            </div>
        </div>

      </div>
        <% }); %>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>

<!-- <div id="myQuote" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nueva Cotizacion</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  -->

<% include ../partials/footer %>

</body>

</html>
