<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>

<% include ../partials/header %>


<!-- Admin view-->
<div class="row" style="padding-top: 100px"></div>
<div class="container-fluid">

    <div class="row">
        <h1>Proyecto Escaleras</h1>
    </div>

    <p>Solo pueden crear productos y materiales, para crear una nueva cotizacion hacerlo desde la pagina de la tienda.</p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">Escaleras</a></li>
        <li><a data-toggle="tab" href="#menu2">Materiales</a></li>
        <li><a data-toggle="tab" href="#menu3">Proveedor</a></li>
    </ul>

    <div class="tab-content">

        <div id="menu1"class="tab-pane fade in active">
            <h3>Escaleras</h3>
            <form class="form-group" method="post" action="/stairs/new-stair">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Forma</th>
                    <th>Direccion Entrada</th>
                    <th>Direccion Salida</th>
                    <th>Altura</th>
                    <th>Ancho</th>
                    <th>Largo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>

                <tbody>
                <% stairs.forEach(function(stair) { %>
                <tr>
                        <td><%= stair.form %></td>
                        <td><%= stair.accessDir %></td>
                        <td><%= stair.exitDir %></td>
                        <td><%= stair.height %></td>
                        <td><%= stair.width %></td>
                        <td><%= stair.len %></td>
                        <td><a  class="btn btn-info" href="/stairs/edit-stair/<%= stair.id%>">Editar</a></td>
                        <td><a class="btn btn-danger" href="/stairs/delete/<%= stair.id%>">Borrar</a></td>
                </tr>
                <% }); %>
                <tr>

                    <td><input name="form" class="form-control" type="text" required></td>
                    <td><input name="accessDir" class="form-control" type="text" required></td>
                    <td><input name="exitDir" class="form-control" type="text" required></td>
                    <td><input name="height" class="form-control" type="number" step="0.01" required></td>
                    <td><input name="width" class="form-control" type="number" step="0.01"required></td>
                    <td><input name="len" class="form-control" type="number" step="0.01" required></td>

                </tr>
                </tbody>
            </table>
            <input class="form-control btn btn-success" type="submit" value="Crear">
            </form>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Materiales</h3>
            <form class="form-group" method="post" action="/stairs/new-material">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Valor</th>
                        <th>Cantidad</th>
                        <th>Proveedor ID</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% materials.forEach(function(material) { %>
                    <tr>
                        <td><%= material.name %></td>
                        <td><%= material.price %></td>
                        <td><%= material.quantity %></td>
                        <td><%= material.provider %></td>
                    </tr>
                    <% }); %>
                    <tr>

                        <td><input name="name" class="form-control" type="text" required></td>
                        <td><input name="price" class="form-control" type="text" required></td>
                        <td><input name="quantity" class="form-control" type="text" required></td>
                        <td>
                            <select class="form-control" name="provider">
                                <% providers.forEach(function(provider) { %>
                                <option value="<%=provider.id%>" ><%= provider.name%></option>
                                <% }); %>
                            </select>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <input class="form-control btn btn-success" type="submit">
            </form>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Proveedores</h3>
            <form class="form-group" method="post" action="/stairs/new-provider">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Tiempo de entrega</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% providers.forEach(function(provider) { %>
                    <tr>
                        <td><%= provider.name %></td>
                        <td><%= provider.location %></td>
                        <td><%= provider.resuplyTime %></td>
                    </tr>
                    <% }); %>
                    <tr>

                        <td><input name="name" class="form-control" type="text" required></td>
                        <td><input name="location" class="form-control" type="text" required></td>
                        <td><input name="resuplyTime" class="form-control" type="number" required></td>
                    </tr>
                    </tbody>
                </table>
                <input class="form-control btn btn-success" type="submit">
            </form>
        </div>
    </div>


</div>

<!-- end Admin view-->
<% include ../partials/footer %>

</body>

</html>