<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>

<% include ../partials/header %>

 <div class="container">

        <div class="row">
            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>
            <div class="col-md-9">

                <div class="thumbnail">

                    <img class="img-responsive" src="/img/portfolio/stairs/l-stair.jpg" alt="">
                    <div class="caption-full">
                        <h2 class="text-center">Escaleras</h2>
                        <p>Escaleras interiores y exteriores a pedido, en acero inoxidable o madera.</p>
                        <p>El usuario solo debe elegir el tipo de escalera que desea, proporcionar la altura que desea cubrir y el área que dispone para su construcción. Dependiendo de la disponibilidad de materiales y personal, será informado en cuanto tiempo iniciará la instalación y cuanto tardará.</p>
                    </div>
                    <a href="/stairs/form" class="btn btn-primary">Cotizar ahora!</a>
                    
                </div>

                <div class="well">

                    <h3 class="text-center"><a href="#">PRODUCTOS YA COTIZADOS</a></h3>
                    <hr>
                    <div class="row">
                        <% stairs.forEach(function(product) { %>
                        <div class="col-sm-3  col-md-4 col-lg-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x150" alt="">
                                <div class="caption">
                                    <h4><a href="#">Escalera en forma de <%= product.form %></a>
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5>Altura:</h5><p><%= product.height%> m</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Ancho:</h5><p><%= product.width%> m</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Largo:</h5><p><%= product.len%> m</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Entrada:</h5><p><%= product.accessDir%></p>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Salida:</h5><p><%= product.exitDir%></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>

<% include ../partials/footer %>
</body>

</html>
